<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Viagens
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cadastrar Nova</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Local</ion-label>
        <ion-input type="text" [(ngModel)]="local"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime displayFormat="DD de MMM de YYYY" max="2090-12-31" display-timezone="utc" pickerFormat="DD MM YYYY"
          [(ngModel)]="data"
          monthShortNames="janeiro, fevereiro, março, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro">
        </ion-datetime>
      </ion-item>
      <ion-button (click)="cadastrarViagem()">Criar nova viagem</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="viagens">
    <ion-card-header>
      <ion-card-title>Suas próximas viagens:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let viagem of viagens">
        <ion-item>
          <ion-label>{{viagem.get("Local")}}</ion-label>
          <ion-datetime value="{{viagem.get('Data')}}" min="{{dataAtual}}" displayFormat="DD de MMM de YYYY" max="2090-12-31" display-timezone="utc" pickerFormat="DD MM YYYY" disabled 
          monthShortNames="janeiro, fevereiro, março, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>