<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seu perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="{{userPicture}}" />
    <ion-button (click)="getPitcure()">Editar Perfil</ion-button>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="user">Olá {{user.get('Nome')}}</p>
    </ion-card-content>
  </ion-card>
  

</ion-content>
