<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seu perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="{{userPicture}}" (click)="editarPerfil()"/>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title *ngIf="user">{{user.get('Nome')}} {{user.get('Sobrenome')}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="user">Olá {{user.get('Nome')}}, tudo bem?</p>
      <p>Aqui estão as últimas notícias:</p>
      <p color="light">Não há notícias no momento!</p>
    </ion-card-content>
  </ion-card>
  
  <ion-button color="danger" (click)="logout()">Sair</ion-button>
</ion-content>
