<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seu perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="{{userPicture}}" (click)="editarPerfil()"/>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title *ngIf="user">{{user.get('Nome')}} {{user.get('Sobrenome')}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notificações</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let not of notifica">
        <ion-item>{{not}}</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-button color="danger" expand="block" (click)="logout()"><ion-icon name="exit-outline"></ion-icon>Sair</ion-button>
</ion-content>
